---
layout: default
title: Главная
---

<a href="{{ site.img_url }}/mindmap.png" target="_blank"><img src="{{  site.img_url }}/mindmap.png" style="max-width: 90%" /></a>
<ol>
{% for chapt in site.chapters %}
{% assign id = chapt.title %}
<li><a href="#{{ id }}">{{ chapt.title }}</a></li>
{% endfor %}
</ol>


<div class="chapters">
  {% for chapt in site.chapters %}
  {% assign id = chapt.title %}
  <div class="chapt" id="{{ id }}">
    <h1 class="chapt-title">
      <a href="#{{ id }}">
        {{ chapt.title }}
      </a>
    </h1>

    {{ chapt.content }}
  </div>
  {% endfor %}
</div>
